<menu name="Menu Geolocation" code="MENU_MODGEOLOCATION">
  <item code="INICIO" name="Inicio" role="ROL@895" enable="true" visible="true" />
  <item code="PARAMETROS" name="Parametros" role="ROL@896" enable="true" visible="true">
    <item code="PARAMETROS_CONSULTA" name="Consulta de Parametros" role="ROL@897" enable="true" visible="true" />
  </item>
  <item code="TIPOSMARCADORES" name="Tipos de Marcadores" role="ROL@898" enable="true" visible="true">
    <item code="TIPOSMARCADORES_ALTA" name="Alta de Tipos de Marcadores" role="ROL@899" enable="true" visible="true" />
    <item code="TIPOSMARCADORES_CONSULTA" name="Consulta de Tipos de Marcadores" role="ROL@900" enable="true" visible="true" />
  </item>
  <item code="CAPAS" name="Capas" role="ROL@901" enable="true" visible="true">
    <item code="CAPAS_ALTA" name="Alta de Capas" role="ROL@902" enable="true" visible="true" />
    <item code="CAPAS_CONSULTA" name="Consulta de Capas" role="ROL@903" enable="true" visible="true" />
  </item>
  <item code="MARCADORES" name="Marcadores" role="ROL@904" enable="true" visible="true">
    <item code="MARCADORES_ALTA" name="Alta de Marcadores" role="ROL@905" enable="true" visible="true" />
    <item code="MARCADORES_CONSULTA" name="Consulta de Marcadores" role="ROL@906" enable="true" visible="true" />
    <item code="MARCADORES_CARGA_MASIVA" name="Carga Masiva de Marcadores" role="ROL@907" enable="true" visible="true" />
    <item code="MARCADORES_CARGA_MASIVA_CONSULTA" name="Consulta de Carga Masiva de Marcadores" role="ROL@908" enable="true" visible="true" />
  </item>
  <item code="LUGARES" name="Lugares" role="ROL@909" enable="true" visible="true">
    <item code="LUGARES_PAIS" name="Administracion de Paises" role="ROL@910" enable="true" visible="true" />
    <item code="LUGARES_REGION" name="Administracion de Regiones" role="ROL@911" enable="true" visible="true" />
    <item code="LUGARES_COMUNA" name="Administracion de Comunas" role="ROL@912" enable="true" visible="true" />
    <item code="LUGARES_LOCALIDAD" name="Administracion de Localidades" role="ROL@913" enable="true" visible="true" />
  </item>
  <item code="REPORTES" name="Estadisticas" role="ROL@914" enable="true" visible="true">
    <item code="REPORTES_PLATAFORMA" name="Uso de Plataforma" role="ROL@915" enable="true" visible="true">
      <item code="REPORTES_PLATAFORMA_FECHA" name="Entre 2 Fechas" role="ROL@916" enable="true" visible="true" />
      <item code="REPORTES_PLATAFORMA_DIARIO" name="Diario" role="ROL@917" enable="true" visible="true" />
      <item code="REPORTES_PLATAFORMA_DIASEMANA" name="Dia de la Semana" role="ROL@918" enable="true" visible="true" />
      <item code="REPORTES_PLATAFORMA_MENSUAL" name="Mensual" role="ROL@919" enable="true" visible="true" />
    </item>
    <item code="REPORTES_RANKING" name="Ranking de Capas" role="ROL@920" enable="true" visible="true">
      <item code="REPORTES_RANKING_FECHA" name="Entre 2 Fechas" role="ROL@921" enable="true" visible="true" />
      <item code="REPORTES_RANKING_DIARIO" name="Diario" role="ROL@922" enable="true" visible="true" />
      <item code="REPORTES_RANKING_DIASEMANA" name="Dia de la Semana" role="ROL@923" enable="true" visible="true" />
      <item code="REPORTES_RANKING_MENSUAL" name="Mensual" role="ROL@924" enable="true" visible="true" />
    </item>
    <item code="REPORTES_RANKING_LAYER_ENABLE" name="Capas mas Frecuentadas" role="ROL@925" enable="true" visible="true">
      <item code="REPORTES_RANKING_LAYER_ENABLE_FECHA" name="Entre 2 Fechas" role="ROL@926" enable="true" visible="true" />
      <item code="REPORTES_RANKING_LAYER_ENABLE_DIARIO" name="Diario" role="ROL@927" enable="true" visible="true" />
      <item code="REPORTES_RANKING_LAYER_ENABLE_DIASEMANA" name="Dia de la Semana" role="ROL@928" enable="true" visible="true" />
      <item code="REPORTES_RANKING_LAYER_ENABLE_MENSUAL" name="Mensual" role="ROL@929" enable="true" visible="true" />
    </item>
  </item>
  <item code="ALERTAS" name="Alertas" role="ROL@936" enable="true" visible="true">
    <item code="CAMPANIAS" name="CAMPANIAS" role="ROL@931" enable="true" visible="true">
      <item code="CAMPANIAS_ALTA" name="CAMPANIAS_ALTA" role="ROL@932" enable="true" visible="true" />
      <item code="CAMPANIAS_CONSULTA" name="CAMPANIAS_CONSULTA" role="ROL@933" enable="true" visible="true" />
    </item>
    <item code="MENSAJES_CONSULTA" name="MENSAJES_CONSULTA" role="ROL@934" enable="true" visible="true" />
    <item code="CAMPANIAS_GENERATECSV" name="CAMPANIAS_GENERATECSV" role="ROL@935" enable="true" visible="true" />
  </item>
</menu>

